$max: 766px;
// $blue: rgb(83, 157, 192);
$blue: #2b88b4;
$orange: #f7941f;
$primary: #b7a291;
// $primary:#a39082;

section {
  // background: #b0ffe3;
  background: $primary;
  position: relative;
  padding: 32px 0;
  // z-index: 99;
  // text-align: justify;
  h2 {
    text-align: left;
  }
  // min-height: 100vh;
}

.banner {
  height: 100vh;
  width: auto;
  padding: 0;
  z-index: 9;
  position:relative;
  // background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
  &:before {
    content:"";
    opacity:0.2;
     position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 250px 30px black;
    background-image:url('../img/batako.jpg');
  }
  @media screen and (max-width: 766px) {
    height: 33vh;
  }
  #container{
    overflow:hidden;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%; top:50%;
    width:80vw;
    // width: 100%;
    height:80vh;
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.3);
    filter: sepia(30%);
    border: solid 6px $primary;
    @media screen and (max-width:766px) {
      width: 100%;
      height:30vh;
    }
  }
  #container:after{
    content:'';
    position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 150px 20px black;
    mix-blend-mode: multiply;
  }
  #pic{  opacity:1;}
  .pic{  position:absolute;}
  
  .line{
    position:absolute;
    height:100%; width:1px;
    opacity:0.1;
    background-color:#000;
  }
  &__bg {
    // opacity: 0.9;
    // filter: blur(2px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}

.center-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @media screen and (max-width:766px){
    width: 70%;
    text-align: center;
  }
  h1 {
    font-weight: 700;
    
  }
}

.wrap-detik {
  width: 640px;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 766px) {
    width: auto;
  }
}
.paragraph {
  padding-top: 0;
  p {
    font-size: 18px;
    @media screen and (max-width: 766px) {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 766px) {
    padding-top: 16px;
  }
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: -69px;
  //   right: 0;
  //   background: linear-gradient(to bottom, transparent, $primary);
  //   height: 80px;
  // }
  // p {
  //   text-align: justify;
  // }
}

.color-black {
  color: #000000;
  transition: 0.3s;
  &:hover,
  &:focus {
    color: #000000;
    // font-weight: bold;
    // margin-left: 4px;
    // text-decoration: none;
  }
}

.credit {
  border-top: 5px solid #fbcc56;
  // background: #c3c4c5;
  // background: #3a2c11;
  background: #30250e;
  text-align: center;
  margin: 0 auto;
  display: block;
  .wrapings {
    display: block;
    width: 50%;
    margin: 0 auto 4px;
    @media screen and (max-width:766px) {
      width: 100%;
    }
  }
  // #c6c4c4
  .name,
  .jobdesc {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    @media screen and (max-width: 766px) {
      font-size: 14px;
    }
  }
  .name {
    text-align: left;
    width: 45%;
    font-size: 18px;
    vertical-align: middle;
    @media screen and (max-width:766px) {
      font-size: 16px;
    }
  }
  .jobdesc {
    text-align: right;
    width: 45%;
    font-size: 15px;
    margin-right: 16px;
    vertical-align: middle;
    @media screen and (max-width:766px) {
      font-size: 14px;
    }
  }
}
.hidden {
  display: none;
}


//timeline js
main {

  .tl-slide .tl-slide-content-container .tl-slide-content {
    width: auto !important;
  }
  .tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6,.tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date {
    text-transform: initial !important;
  }
  .tl-timeline,.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6,.tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date {
    font-family: 'PT Serif' !important;
  }
  .tl-timeline .tl-caption, .tl-timeline .tl-credit {
    font-family: 'Lato' !important;
  }
  .timeline-wrapper {
    height: 650px;
    @media screen and (max-width:766px){
      height: 600px;
    }
  }
  .tl-timeline p {
    font-size: 18px;
  }
}

.timeline {
  // display: none;
  position: relative;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    opacity: .5;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  img {
    max-width: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  .ag-format-container {
    // width: 1160px;
    margin: 0 auto;
  
    // position: relative;
    // &::before {
    //   content:"Magelang";
    //   position: absolute;
    //   left: 0;
    //   top: -74px;
    //   right: 0;
    //   padding: 24px;
    //   text-align: center;
    //   background: #1d1d1b;
    //   color: white;
    // }
  }
  
  .ag-timeline-block {
    // padding: 300px 0;
  }
  .ag-timeline_title-box {
    padding: 0 0 30px;
  
    text-align: center;
  }
  .ag-timeline_tagline {
    font-size: 40px;
    color: rgb(84, 89, 95);
  }
  .ag-timeline_title {
    background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
  
    font-size: 80px;
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  
    position: relative;
  }
  .ag-timeline_line {
    width: 4px;
    background-color: #393935;
  
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
  
    // overflow: hidden;
  
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    // background-color: #FF0;
    background-color: #cdcecf;
    position: relative;
    .imgs {
      position: absolute;
      bottom: -42px;
      width: 100px;
      left: -50px;
      height: 100px;
      z-index: 999;
      max-width: initial;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -24px;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -24px 0 14px;
  }
  .ag-timeline-card_point {
    height: 50px;
    position: relative;
    line-height: 50px;
    width: 50px;
    border: 3px solid #1d1d1b;
    background-color: #1d1d1b;
  
    text-align: center;
    font-family: 'PT Serif', sans-serif;
    font-size: 25px;
    color: #FFF;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    .tembakan {
      opacity: 0;
    }
  }
  .js-ag-active .ag-timeline-card_point {
    // color: #ff0;
    // background-color: #FF0;
    // background: #3a2c11;
    background-color: #ae0404;
    // border: 3px solid #ae0404;
    position: relative;
    .tembakan {
      opacity: 1;
    }
  }
  .ag-timeline-card_meta-box {
    display: inline-block;
  }
  .ag-timeline-card_meta {
    margin: 10px 0 0;
  
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #3a2c11
  }
  .ag-timeline-card_item {
    &::before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 6px;
      position: absolute;
      background: rgba(48, 37, 14,.75);
    }
    display: inline-block;
    width: 45%;
    // z-index: 20;
    position: relative;
    margin: -77px 0 0;
    // background-color: #30250e;
    background: url('../img/kertas.jpg');
  
    opacity: 0;
  
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
  
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #282828;
  
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
  
    right: auto;
    left: 0;
  }
  .ag-timeline-card_img {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  .ag-timeline-card_info {
    padding: 20px 30px;
    border-radius: 6px;
    position: relative;
    z-index: 20;
  }
  .ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
  
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #f5bd4c;
    @media screen and (max-width:766px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .ag-timeline-card_desc {
    line-height: 1.45;
  
    font-size: 16px;
    color: #cecece;
  }
  
  
  @media only screen and (max-width: 979px) {
    .ag-timeline_line {
      left: 30px;
    }
  
    .ag-timeline_item:nth-child(2n) {
      text-align: left;
    }
  
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
      padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
      display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
      margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
    .ag-timeline-card_item {
      width: auto;
      margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
      right: auto;
      left: 0;
    }
    .ag-timeline-card_title {
      display: block;
    }
    .ag-timeline-card_arrow {
      margin-top: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-timeline-card_img {
      height: auto;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-timeline_title {
      font-size: 60px;
    }
  
    .ag-timeline-card_info {
      padding: 10px 15px;
    }
    .ag-timeline-card_desc {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }


}

//scroll
.lala {
  .wrap {
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
    border: 1px solid;
    height: 300px;
    width: 100%;
  }
  .date_ {
    font-size: 24px;
  }
}

#main{
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top:0;
}

.ag-timeline-card_img-box {
  position: relative;
}

.bg{
  &-magelang {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100px;
    background: linear-gradient(to top, black, transparent);
  }
}

.titletitle {
  background: #3a2c11;
  // position: absolute;
  // left: 0;
  // height: 100px;
  padding: 42px 0;
  margin: 8px 0;
  // right: 0;
  h2 {
    color: white;
    font-weight: 700;
  }
}

.id12 {
  display: none;
}

.tambah {
  width: 100%;
  height: 300px;
  border-radius: 6px 6px 0 0;
  @media screen and (max-width:766px) {
    width: 100%;
    height: auto;
  }
}

.scroll-totop {
  width: 30px;
  height: 30px;
  background: #393935;
  position: fixed;
  bottom: 8px;

  text-align: center;
  right: 8px;
  cursor: pointer;
  z-index: 1990;
  border-radius: 50%;
  padding: 0;
  transition: .3s;
  @media screen and (max-width:766px) {
    bottom: 70px;
  }
  &:hover {
    background: #30250e;
  }
  i {
    font-size: 16px;
    color: white;
  }
}

.pistol {
  margin-bottom: 32px;
}

.centeraja {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 180px;
  height: 180px;
  @media screen and (max-width:766px) {
    margin: 0;
    position: relative;
    left: -24px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

#id12 {
  display: block !important;
}
.id12,iframe {
  display: none;
}

.tembakan {
  position: absolute;
  left: -25px;
  top: -27px;
  width: 100px;
  right: 0;
  z-index: 1;
  bottom: 0;
  height: 170px;
}

#play-button {
  cursor: pointer;
}

.title-horror {
  padding: 16px 0;
  text-align: center;
  h1 {
    font-family: 'Averia Libre', sans-serif;
    font-size:4vw;
    text-align: center;
      @media screen and (max-width:766px) {
        font-size: 5vh;
        padding: 0 8px;
      }
    }

   

}

.inikah{
  // background: url('../img/kertas.jpg');
  position: relative;
  .img{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .5;
    // background: rgba($color: $primary, $alpha: .8);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sumber {
  text-align: center;
}

.color-black {
  color: #000;
}


.logo-detik {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 999;
  width: 90px;
  @media screen and (max-width: 766px) {
    top: 12px;
    left: 50%;
    width: 80px;
    transform: translate(-50%, 0px);
  }
}

#komentar {
  iframe {
    display: block !important;
  }
}